<form action="<%= posts_url %>" method="post">

  <%= auth_token %>

  <label>
    Post Title
    <input type="text" name="post[title]" value="">
  </label>

  <label>
    Post Body
    <input type="text_area" name="post[body]" value="">
  </label>

  <input type="submit" value="Add Post">

</form>