<nav class="navbar group">
	<%  %>
  
	<ul class="group">
		<li>
			<div class="feed-button-wrap visible">
				<button class="show-feed-button">Feed</button>
			</div>
			<div class="wall-button-wrap">
				<button class="show-wall-button">Wall</button>
			</div>

		</li>
		
		<li>
				<div class="edit-profile-link">
					
						<a href="<%= dataJSON.edit_url %>">Edit Profile</a>
				</div>
			
		</li>
		
		<li>
				<div class="new-post-button">
					
					<button class="view-new-post-option">New Post</button>
				</div>
		</li>

	</ul>
</nav>