<nav class="navbar">
  
	<ul>
		<li>
			<div class="feed-button-wrap visible">
				<button class="show-feed-button">FEED</button>
			</div>
			<div class="wall-button-wrap">
				<button class="show-wall-button">WALL</button>
			</div>
		</li>

	</ul>
</nav>