

<% if (comments.length !== 0) { %>
	<% comments.forEach(function(comment){ %>

		<div class="comment-wrap">
			<article>
				<p>comment.escape("body")</p>
			</article>
		</div>


	<% }) %>
<% }; %>