
<form id="update-comment-form">
  <div class="input">
    <input type="textarea" id="comment-body" name="comment[body]" value="<%= comment.escape("body") %>">
  </div>

	

  <div class="submit">
    <input data-id="<%= post.id %>" class="submit-comment-button" type="submit" value="submit">
  </div>
</form>
