
<div class="post-form post-content group" id="update-post-form">
	<form id="update-post">
	    <div class="post-form-input">
	      <label for="post-title">Post Title </label>
	      <input type="text" id="post-title" name="post[title]" value="<%= post.escape("title") %>">


	      <label for="post-body">Post Body</label>
	      <textarea id="post-body" name="post[body]"><%= post.escape("body") %></textarea>
	    </div>
    
	    <div class="submit group">
	      <input type="submit" value="Update Post">
	    </div>
			
	    <div class="cancel group">
	      <input type="submit" value="Cancel">
	    </div>
	</form>
</div>