
	


<%= JST["users/nav"]() %>	

<div class="post-form">
	<%= JST["posts/new"]({ post: post }) %>	
</div>

<div class="group wall-wrap visible">
	
	<%= JST["posts/wall"]({ userPosts: userPosts }) %>	

</div>

<% if (dataJSON.ownPage) { %>
	<div class="group feed-wrap">

		<%= JST["posts/feed"]({ feedPosts: feedPosts }) %>

	</div>
<% } %>