
<form class="edit-user" action="<%= user_url(current_user) %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="put">
	
	<div class="edit-profile-title">
  	<h1>Edit Profile</h1>
	</div>
  <%= auth_token %>

  <%= user_form("Update Profile", current_user.username, current_user.email) %>
</form>


<%= button_to "Delete My Account", user_url(current_user), method: :delete %>