<div class="welcome">
	<h1>Welcome to Rebulba</h1>
	<h4>A clone of tumblr---with more puppies</h4>
</div>
<form class="user-form" action="<%= users_url %>" method="post" enctype="multipart/form-data">
  <%= auth_token %>

  <%= user_form("Sign Up") %>
</form>
<h3><%= link_to "--Visit Sign In Page--", new_session_url %></h3>

<h3><a href="/auth/facebook">Sign in/up with Facebook</a></h3>




