<div class="welcome">
	<h1>Welcome to Rebulba</h1>
	<h4>A clone of tumblr--but with more puppies</h4>
</div>
<form class="user-form" action="<%= users_url %>" method="post" enctype="multipart/form-data">
  <h3>Sign Up</h1>
  <%= auth_token %>

  <%= user_form("Sign Up") %>
</form>
<h3><%= link_to "--Visit Sign In Page--", new_session_url %></h3>


