<h1>Show Page</h1>

<% if params["id"].to_i == current_user.id %>
  <%= render partial: "layouts/newpost" %>
<% end %>

<%= render partial: "layouts/post" %>

<%= render partial: "layouts/followings" %>