<h3>Following:</h3>

<% user.people_he_follows.each do |followee| %>

  <%= link_to followee.username, user_url(followee) %>

  <%= render partial: "layouts/following/deletefollowee", locals: {followee: followee}  %>

<% end %>





