<h3>Following:</h3>

<% @user.people_he_follows.each do |followee| %>

  <%= link_to followee.username, followee %>

  <%= render partial: "layouts/following/deletefollowee", locals: {followee: followee}  %>

<% end %>

<form action="<%= user_followings_url(current_user) %>" method="post">
  <%= auth_token %>
  <label>
    Add Follower:
    <input type="text" name="following[followee_id]" value="">
    <input type="submit" value="Follow">
  </label>
</form>