<h3>Following:</h3>

<% @user.people_he_follows.each do |followee| %>

  <%= link_to followee.username, followee %>

  <%= render partial: "layouts/following/deletefollowee", locals: {followee: followee}  %>

<% end %>

<% if params["id"].to_i == current_user.id %>

  <%= render partial: "layouts/following/new" %>

<% end %>