<form class="new-following-form" action="<%= user_followings_url(params["id"]) %>" method="post">
  <%= auth_token %>
  <label>
    Add Follower:
    <input type="submit" value="Follow">
  </label>
</form>