<form class="new-following-form" action="<%= user_followings_url(params["id"]) %>" method="post">
  <%= auth_token %>
		<div class="submit">
    	<input type="submit" value="Follow">
		</div>

</form>