/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*RESET*/
html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*ELEMENTS*/

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  width: auto;
  background: transparent;
  color: inherit;
}

input[type="submit"] {
  display: block;
  cursor: pointer;
	display: block;
	width: 300;
	height: 300;
  	margin: 0;
	
	font-color: #7F8FA0;
}

body {
  padding: 100px;
  background: #213E5C;
  font-family: sans-serif;
  margin: auto;
  width: 1110px;
}

form {
	background: none;
	width: auto;
	padding: 20px;
	border-radius: 10px;
	
/*	background: #223F5C;
	width: 320px;
	padding: 35px;
	border-radius: 10px;*/
}

label {
	display: block;
	font-size: 30px;
	color: #7F8FA0;
	margin: 4px 0;

}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.0;
  text-align: center;
  margin: 20px;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.0;
  font-color: gray;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	color: green;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}


/*.submit > input {
  position: relative;
  display: inline-block;
  background: #0c0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 3px 0 0 #070;
}
*/

/*navbar*/

.navbar {

}

.navbar a {
	font-size: 30px;
	float: left;
}

.navebar ul {
	float: right;
}

.navbar ul li {
	width: 160px;
	margin: 10px;
	background: green;
	padding: 10px;
	float: left;
	font-size: 30px;
	border-radius: 10px;
}

.navbar ul li:hover {
	background: blue;
}

.navbar ul li a {
	color: yellow;
}

.navbar ul li form {
	background: green;
	height: auto;
	padding: 0;
}

.button_to {
	color: #7F8FA0;
	background: green;
}


/*signout and buttons*/

.input input {
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
}

/*profile*/

.profile {
	width: 300px;
	float: left;
	margin: 0;
/*	position: absolute;*/
}

.profile img {
	float: left;
	margin-bottom: 20px;
	border: 5px solid black;
	width: 300px;
	height: auto;
}

.following {
	height: 700px;
}

.following ul h3 {
	
}

.following ul li {
	display: block;
	margin-top: 20px;
	height: auto;
}

.following li a {
	font-size: 25px;
}

.followee {
	padding: 5px 70px 5px 0;
	height: 20px;
	width: auto;
}

.following a {
	float: left;
	color: #7F8FA0;
	font-size: 20px;
	width: 140px;
	margin-bottom: 30px;
}

.following form {
	color: #7F8FA0;
	margin-top: 20px;
	background: green;
}

.followee form {
	float: right;
	background: green;
	padding: 10px;
	width: auto;
	font-color: white;
	margin: 0 0 0 0;
	
}

.new-following-form {
	color: green;
}

/*ERRORS*/

.error-list {
	
}

.error {
	color: red;
	font-size: 30px;
	text-align: center;
}

.feed h1 {
	float: left;
}

#feed form {
	
}


form div {
	display: block;
	    position: relative;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: 200px;
	    height: auto;
	    margin: auto;
}



#new-post-form h3 {
	color: white;
	
}

#update-post-form {
	background: red;
}
