/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*RESET*/
html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*ELEMENTS*/

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  width: auto;
  background: transparent;
  color: inherit;
}

input[type="submit"] {
  display: block;
  cursor: pointer;
	display: block;
	width: 300;
	height: 300;
	background: white;
  	margin: 5px 0 0 0;
}

body {
  padding: 100px;
  background: white;
  font-family: sans-serif;
  margin: auto;
  width: 960px;
}

form {
	background: red;
	width: auto;
	padding: 20px;
	border-radius: 10px;
	
/*	background: #223F5C;
	width: 320px;
	padding: 35px;
	border-radius: 10px;*/
}

label {
	display: block;
	font-size: 24px;
	color: white;
	margin: 4px 0;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.0;
  text-align: center;
  margin: 20px;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.0;
  font-color: gray;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

.submit > input {
  position: relative;
  display: inline-block;
  background: #0c0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 3px 0 0 #070;
}


/*navbar*/

.navbar {
	border: 1px solid black;
	padding: 3px;
	background: green;
}

.greeting {
	padding: 5px;
	font-weight: bold;
}

.navbar form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  float: right;
}

.navbar a {
	padding: 5px;
	border-left: 1px solid black;
}


/*signout and buttons*/

.input input {
  background: #fff;
  border: 1px solid #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
}

/*profile*/

.profile {
	width: 300px;
	float: left;
/*	position: absolute;*/
}

.profile img {
	float: left;
	margin-bottom: 10px;
}

.following {

}

.following h3 {
	
}

.followee {
	padding: 5px 70px 5px 0;
	height: 20px;
	width: auto;
}

.following a {
	padding: 2px;
	float: left;
}

.following form {
	
}

.followee form {
	float: right;
	background: #223F5C;
	padding: 2px;
	width: auto
}

