/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*RESET*/
html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label, button, input#profile-picture {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*ELEMENTS*/

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
button,
.button_to
 {
  -webkit-appearance: none;
  box-sizing: content-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  width: auto;
  background: transparent;
  color: inherit;
}

input[type="submit"], button, .button_to, .navbar ul li {
  display: block;
  cursor: pointer;
	display: block;
	width: 300;
	height: 300;
  	margin: 0;
	
	font-color: #7F8FA0;
}

.submit > input, button, .button_to, .navbar ul li {
  position: relative;
  display: inline-block;
  background: #2E8AC3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 4px 0 0 #226690;
}

.submit > input:hover, button:hover, .button_to:hover, .navbar ul li:hover {
  background: #3297D6;
}

.submit > input:active, button:active, .button_to:active, .navbar ul li:active {
  top: 3px;
  box-shadow: none;
  background: #2D91E2;
}

body {
  padding: 100px;
  background: #213E5C;
  font-family: sans-serif;
  margin: auto;
  width: 1110px;
}

form {
	background: none;
	border-radius: 10px;
	
}

label {
	display: block;
	font-size: 30px;
	color: white;
	margin: 4px 0;

}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.0;
  text-align: center;
  margin: 20px;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.0;
  font-color: gray;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	
}

a:hover {
	
}


/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}





/*signout and buttons*/

.input input {
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
}

/*profile*/



.error-list {
	
}

.error {
	color: red;
	font-size: 30px;
	text-align: center;
}

.feed h1 {
	float: left;
}

#feed form {
	
}


form div {
	display: block;
	    position: relative;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: 200px;
	    height: auto;
	    margin: auto;
}



#new-post-form h3 {
	color: white;
	
}

#new-post-form {
	margin-bottom: 20px;
}

#update-post-form {
	background: #213E5C;
}

.timeago {
	font-size: 25px;
	width: 170px;
}

