// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*ADD NEW COMMENT*/
.new-comment-wrap {
}

.new-comment-wrap form {
	display: none;
}

.comments-wrap {
	display: block;
}

/*comments themselves*/

.comments-wrap article {
	position: relative;
	background: white;
	width: 400px;
	float: right;
	padding: 10px;
	border: 3px solid black;
	border-radius: 20px;
}



.comments-wrap article h4 {
	min-height: 30px;
}

.comments-wrap article p {
	font-size: 30px;
	text-align: center;
}

.comments-wrap article form {
	display: block;
}

article.comment-article button.delete-comment {
	position: absolute;
	padding: 5px;
	top: 5px;
	right: 5px;
}

.comments-wrap article h4 time {
	float: right;
}

.comments-wrap article h4 a {
	font-size: 30px;
	float: left;
}

.comment-bottom {
	
}

/*.comment-bottom .liker-list {
	float: right;
	margin-top: 20px;
	font-size: 30px;
	
}*/

.delete-comment {
	float: left;
	margin: 10px;
	
/*	background: #1BC606;
	color: white;
	font-size: 25px;
	width: 100px;
	margin: 10px;
	border-radius: 5px;*/
}

#update-comment-form .submit {
	float: left;
}

#update-comment-form .input input {
	margin-bottom: 10px;
}

#new-comment-form {
	width: 300px;
	margin: auto;
}

#new-comment-form .input input {
	margin-top: 10px;
	margin-bottom: 10px;
}

#new-comment-form h3 {
	font-size: 30px;
	margin-top: 10px;
	padding: 0;
	text-align: left;
}