// Place all the styles related to the Followings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-delete-follower {
	
}

.add-delete-follower form {
/*	background: red;
	font-size: 25px;
	margin-top: 10px;
	border-radius: 20px;*/
}