// Place all the styles related to the Followings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-delete-follower {
	
}

.add-delete-follower form {
/*	background: red;
	font-size: 25px;
	margin-top: 10px;
	border-radius: 20px;*/
}

.profile {
	width: 240px;
	float: left;
	margin-right: 60px;
	position: relative;
}

.profile img {
	margin-bottom: 20px;
	border: 5px solid black;
	width: 230px;
	height: auto;
/*	position: relative;*/
}

.followers {
	display: none;
}

.visible .followers {
	display: block;
}


.following {
	display: none;
}

.visible .following {
	display: block;
}

.following {
	height: auto;
}

.following ul {
	height: auto;
}

.followee {
	position: relative;
	padding: 0;
	min-height: 40px;
}

.followee:hover {
	background: gray;
}

.followee a {
	float: left;
	color: white;
	font-size: 25px;
	min-width: 220px;
	min-height: 40px;
	margin: auto;
}

.followee form {
	float: right;
/*	float: right;
	background: green;
	padding: 10px;
	width: auto;
	font-color: white;
	margin: 0 0 0 0;*/
	
}

.submit {  /*OVERIDE IN MAIN*/
	padding: 0;
}

.followee form .input {
	margin: 0;
	padding: 0;
}

.delete-followee .submit input {
	height: auto;
	width: auto;
}

.delete-followee {
	display: block;
	width: 10px;
	height: 10px;
	float: right;

}

.profile:hover .delete-followee {
	display: block;
}

.delete-followee .sumbit input {
		margin: 10px;
}

.delete-followee input:hover {

}

.new-following-form .submit input {
	position: absolute;
	top: 0;
	left: 0;
}


/*SIDE NAV BAR*/

.profile-side-nav {
	
}

.profile-side-nav button {
	width: 200px;
	margin-top: 20px;
}