// Place all the styles related to the Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*comments*/
.likes {
	color: red;
	font-size: 24px;
}

.liker-list {
	float: right;
	display: block;
	position: relative;
}

.liker-list ul {
	display: none;
}

.liker-list:hover ul {
	display: block;
	position: absolute;
	top: 30px;
	right: 0px;
	z-index: 100;
	
}

.liker-list a {
	font-size: 25px;
	margin: 0;
	
}

.liker-list ul li a {
	background: #888;
	margin: 0;
/*	padding: 0;*/
	min-width: 200px;
}

.liker-list ul li a:hover {
	background: #C6C6C6;
}

.comment-like-list li {
/*	width: auto;*/
	width: 200px;
	
}

.comment-like-list li a {
/*	width: auto;*/
/*	padding: auto;*/
	width: auto;
	
}

.comment-like-list {
	background: #888;
	min-width: 200px;
}

.comment-liker-link {

}

.like-comment {
	margin-bottom: 5px;
}