// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notifications-list {
	display: none;
}

.visible .notifications-list {
	display: block;
}

.notifications-list li a {
	font-size: 25px;
	color: white;
	float: left;
	width: 240px;
}

.notifications-list li button {
	float: right;
	padding: 0;
	width: 20px;
	height: 20px;
}

.notifications-list li {
	min-height: 50px;
	margin-top: 10px;
}

.notifications-list li form {
	
}

.unread time {
}

.notifications-list li:hover {
	background: gray;
}

.notifications-list li.read {

}

.notifications-list li.unread {

}
