// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notifications-list {
	display: none;
}

.visible .notifications-list {
	display: block;
	background: #19C5EC;
}

.notifications-list li a {
	font-size: 20px;
	color: white;
	float: left;
	width: 240px;
}

.notifications-list li button {
	float: right;
	padding: 0;
	width: 20px;
	height: 20px;
}

.notifications-list li {
	min-height: 50px;
	margin-top: 10px;
}

.unread {

}

.unread form {
	padding: 0px;
}

.unread time {
	padding: 5px 0 0 5px;
}

.unread a {
	padding-left: 5px;
}

.notifications-list li:hover {
	background: #2E8AC3;
}

.notifications-list li.read {

}


