// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-content {

  color: blue;
}

.feed-posts {
  background: #fff;
  padding: 50px;
  width: 300px;
  margin: auto;
  border-radius: 5px;
}

.user-posts {
  background: #fff;
  padding: 50px;
  width: 300px;
  margin: auto;
  border-radius: 5px;
}

.post-options {
  display: none;
}

.post:hover > .post-options {
  display: inline-block;
}

.post-form-input > input[type="text_area"],
.post-form-input > input[type="text"] {
  background: #fff;
  border: 1px solid #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
  font-size: 16px;
  
}

.post-form-input > input[type="text_area"] {
  background: #fff;
  border: 1px solid #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
  height: 100px;
  font-size: 16px;
}


.post-form {
	padding: 20px 50px;
  background: blue;
  width: 300px;
  margin: auto;
  border-radius: 5px;
}

/*FEED*/
.feed-posts {
	margin-top: 10px;
	background: blue;
}