// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-content {

  color: blue;
}

.feed-posts {
  background: #fff;
  padding: 50px;
  width: 300px;
  margin: auto;
  border-radius: 5px;
}

.user-posts {
  background: #fff;
  padding: 50px;
  width: 300px;
  margin: auto;
  border-radius: 5px;
}

.post-options {
  display: none;
}

.post:hover > .post-options {
  display: inline-block;
  background: red;
}