// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.session-form {
	margin: auto;
    text-align:left;
}


.session-form h3 {
	color: white;
	text-align: center;
	margin-bottom: 20px;
	background: #7F8FA0;
	width: 200px;
	margin: auto;
	padding: 20px;
	border: 4px solid black;
	border-radius: 20px;
	margin-bottom: 40px;
	
}

.session-form form {
	background: #223F5C;
	width: 320px;
	padding: 35px;
	border-radius: 10px;
}

.session-form {
	background: #223F5C;
	padding: 35px;
	border-radius: 10px;
	width: 300px;
}

.session-form div {
	width: 300px;
}


.session-form .input {
	width: 300px;
	align: center;
}

.session-form .submit {

}

.session-form .submit input {
	align: left;
	padding: 10px;
}

.session-form h3 a {
	color: #7F8FA0;
	font-size: 30px;
	left: 410px;
}

.session-form h3 a:hover {
	color: gray;
	font-size: 31px;
}

.session-form .submit {
	margin-top: 20px;
}