// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-form {
	margin: auto;
    text-align:left;
}


.session-form h3 {
	color: black;
	text-align: center;
	margin-bottom: 20px;
	
}

.session-form form {
	background: #223F5C;
	width: 320px;
	padding: 35px;
	border-radius: 10px;
}

.session-form {
	background: #223F5C;
	width: auto;
	padding: 35px;
	border-radius: 10px;
}

.session-form div {
	width: auto;
}

div.input {
	width: 300px;
	align: center;
}

div.submit {
	width: 300px;
	align: center;
}

div.submit input {
	align: left;
}

.session-form h3 {
	margin-top: 50px;
	width: auto;
	
}

.session-form h3 a {
	color: black;
	font-size: 30px;
	left: 410px;
}

.session-form h3 a:hover {
	color: gray;
	font-size: 31px;
}

.session-form .submit {
	margin-top: 20px;
}