// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.greeting {
	float: left;
}

/*NEW USER PAGE*/
.welcome {
	position: relative;
}

.welcome h1 {
	position: absolute;
	left: 280px;
	bottom: 10px;
}

.welcome h4 {
	font-size: 25px;
	position: absolute;
	left: 350px;
	top: -45px;
	z-index: 100;
}

.feed-posts {
	display: none;
}

.user-form {
	margin: auto;
    text-align: left;
		position: relative;
}


.user-form h3 {
	color: black;
	text-align: center;
	margin: 20px;
	width: 300px;
	
}

.user-form h3 a {
	color: black;
	position: absolute;
	width: 500px;
	left: 0px;
}

.user-form h3 a:hover {
	color: gray;
}

form.user-form {
	background: #223F5C;
	width: 320px;
	padding: 35px;
	border-radius: 10px;
}

.submit > input {
  position: relative;
  display: inline-block;
  background: #0c0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 3px 0 0 #070;
}

.submit > input:hover {
  background: #0b0;
}

.submit > input:active {
  top: 3px;
  box-shadow: none;
  background: #0a0;
}

/*EDIT PROFILE*/

.edit-profile-title {
	position: relative;
	width: auto;
}

.edit-profile-title h1 {
	position: absolute;
	top: -100px;
	left: 400px;
}

.file-input {
	margin-top: 20px;
	margin-bottom: 20px;
}

#profile-picture {
/*		padding-top: 20px;
		padding-bottom: 20px;*/
}