<form action="<%= user_post_url(current_user, params[:id]) %>" method="post">
  <input type="hidden" name="_method" value="put">

  <%= auth_token %>

  <label>
    Post Title
    <input type="text" name="post[title]" value="">
  </label>

  <label>
    Post Body
    <input type="text_area" name="post[body]" value="">
  </label>

  <input type="submit" value="Update Post">

</form>