 <!-- <h3 id="about">About Rebulba</h3> -->

	<div id="#about-modal-wrap">
		<!-- <button id="ok-about"></button> -->
	</div>
 
 <% if flash[:errors] %>
 	<ul class="error-list">
   <% flash[:errors].each do |error| %>
     <li class="error"><%= error %></li>
   <% end %>
   	</ul>
 <% end %>
 
 <script>
$(document).ready(function(){
	
	$("#about").on("click", function(){
			$("#about-modal-wrap").addClass("visible")
	});
	
	$("ok-about").on("click", function(){
		$("#about-modal-wrap").removeClass("visible")
	})

});
 
 
 </script>